# Datos del DANE (muy pesados para GitHub)
data/raw/
data/processed/

# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
test_env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
